
.modal {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #fff;
  width: 500px;
  height: 600px;
  border: 1px solid #EAEAEA;
  border-radius: 15px;
  overflow: hidden;
  margin: 0 15px 160px;
}

.modal .footer {
  width: 100%;
  height: 60px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  display: flex;
  padding: 10px 1.5rem;
  flex-direction: row-reverse;
  gap: 10px;
}

.modal_wrapper {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(107, 114, 128, 0.5);
  z-index: 9;
  width: 100%;
  min-height: 100vh;
}

.body {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.form__container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label__text {
  display: flex;
  justify-content: space-between;
}

.error__text {
  color: red
}

.select__container {
  display: flex;
  flex-direction: row;
  gap: 12px;

}

.select__item {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #EAEAEA;
  border-radius: 12px;
  padding: 2px 6px 6px;
}

.header {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  padding-bottom: 4px;
}

.input__container {
  display: flex;
  background: #EAEAEA;
  border-radius: 12px;
  padding: 2px 6px 6px;
  flex-direction: column;
}

input {
  background: #ffffff;
  border: 1px solid #b0afaf;
  border-radius: 10px;
  padding: 1px 8px;
  &:focus-visible{
    border: 1px solid #b0afaf !important;
  }
}

select {
  background: #ffffff;
  border: 1px solid #b0afaf;
  border-radius: 10px;
  padding: 2px;
  height: 28px;
}

.close__button {
  display: flex;
  border: 1px solid #EAEAEA;
  transition: 0.2s all;
  align-items: center;
  border-radius: 12px;

  &:hover {
    background: #e1e1e1;
    transition: 0.2s all;
  }
}

.close__text {
  display: flex;
  color: #777777;
  height: 100%;
  align-items: center;
  transition: 0.2s all;
  &:hover {
    color: #000;
    transition: 0.2s all;
  }
}

.save__button {
  @extend .close__button;
  background: #D1C5DE;
  &:hover {
    background: #765aa4;
  }
}

.save__text {
  @extend .close__text;
  color: #2e0a54;
  &:hover {
    color: #ffffff;
  }
}